---
import { Layout } from "@/components/Layout";
import Seo from "@/components/Seo/index.astro";
import { siteMeta } from "@/constants/siteMeta";

interface Props {
  title?: string;
  description?: string;
  ogpImage?: string;
}

const { description = siteMeta.description, title, ogpImage } = Astro.props;
const seoTitle = title ? title + " | " + siteMeta.title : siteMeta.title;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <Seo title={seoTitle} description={description} ogpImage={ogpImage} />
  </head>
  <body>
    <Layout siteTitle={siteMeta.title} author={siteMeta.author}>
      <slot />
    </Layout>
  </body>
</html>
