---
import clsx from "clsx";

import "@/styles/global.css"
import { darkTheme } from "@/styles/theme.css";
import { sprinkles } from "@/styles/sprinkles.css";
import Seo from "@/components/Seo/index.astro";
import { siteMeta } from "@/constants/siteMeta";
import { Header } from "@/components/Header";
import { Footer } from "@/components/Footer";
import { SearchBar, SearchButton } from "@/components/SearchDialog/SearchBar";
import { SearchDialog } from "@/components/SearchDialog/SearchDialog";
import PostSearch from "@/components/PostSearch/index.astro";

interface Props {
  title?: string;
  description?: string;
  ogpImage?: string;
}

const { description = siteMeta.description, title, ogpImage } = Astro.props;
const seoTitle = title ? title + " | " + siteMeta.title : siteMeta.title;

const dialog_id = "search_dialog";
---

<!doctype html>
<html lang="ja" class={darkTheme}>
  <head>
    <Seo title={seoTitle} description={description} ogpImage={ogpImage} />
  </head>
  <body>
    <div
      class={clsx(
        sprinkles({
          backgroundColor: "neutral",
          color: "baseContent",
          borderColor: "baseContent",
        }),
        "flex flex-col min-h-screen"
      )}
    >
      <Header siteTitle={siteMeta.title}>
        <SearchButton
          client:visible
          open_dialog_id={dialog_id}
          className="md:invisible md:hidden"
        />
        <SearchBar
          client:visible
          open_dialog_id={dialog_id}
          className={clsx(
            sprinkles({ backgroundColor: "base200" }),
            "p-4 pr-16 hidden invisible md:flex md:visible flex-grow"
          )}
        />
        <SearchDialog dialog_id={dialog_id} className="">
          <PostSearch />
        </SearchDialog>
      </Header>
      <main class="flex-grow container max-w-5xl mx-auto px-4">
        <slot />
      </main>
      <Footer author={siteMeta.author} />
    </div>
  </body>
</html>
